NEXT_PUBLIC_APP_NAME=Horizons

NEXT_PUBLIC_APP_URL='http://localhost:3000'
BETTER_AUTH_URL='http://localhost:3000'

RESEND_FROM='...@...'
CONTACT_EMAIL='...@...'

SEED_ADMIN_EMAIL='...@...'
SEED_ADMIN_PASSWORD='...'

DATABASE_URL='postgresql://...'

RESEND_API_KEY='re_...'

BETTER_AUTH_SECRET='...' # openssl rand -base64 32 | head -c 32; echo
REPORT_HMAC_SECRET='...' # openssl rand -base64 32 | head -c 32; echo
